@{
    Layout = "";
}
@model Nop.Plugin.Shipping.FreteCorreios.Models.FreteCorreiosModel
@using Nop.Web.Framework;

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">

                @if (ViewData["sucesso"] != null)
                {
                    <div class="messageBox messageBoxSuccess">
                        @ViewData["sucesso"].ToString()
                    </div>
                }
                else if (ViewData["erro"] != null)
                {
                    <div class="messageBox messageBoxSuccess">
                        @ViewData["erro"].ToString()
                    </div>
                }

                <div class="form-group">
                    <div class="col-md-10">
                        Cep de Origem
                        <br />
                        Configure nas opções de envio do NopCommerce (ZIP Code). Formato 00000000
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Url)
                    </div>
                    <div class="col-md-7">
                        @Html.NopEditorFor(model => model.Url)
                        @Html.ValidationMessageFor(model => model.Url)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.CodigoEmpresa)
                    </div>
                    <div class="col-md-7">
                        @Html.NopEditorFor(model => model.CodigoEmpresa)
                        @Html.ValidationMessageFor(model => model.CodigoEmpresa)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Senha)
                    </div>
                    <div class="col-md-7">
                        @Html.NopEditorFor(model => model.Senha)
                        @Html.ValidationMessageFor(model => model.Senha)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.CustoAdicionalEnvio)
                    </div>
                    <div class="col-md-7">
                        @Html.NopEditorFor(model => model.CustoAdicionalEnvio)
                        @Html.ValidationMessageFor(model => model.CustoAdicionalEnvio)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.DiasUteisAdicionais)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.DiasUteisAdicionais)
                        @Html.ValidationMessageFor(model => model.DiasUteisAdicionais)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.IncluirValorDeclarado)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.IncluirValorDeclarado)
                        @Html.ValidationMessageFor(model => model.IncluirValorDeclarado)
                    </div>
                </div>

                <div class="form-group">
                    <br /><br />

                    <div class="col-md-12">
                        <label>Pode-se Informar o CEP Inicial e Final ou apenas o Inicial.</label>
                        <br />
                        <label>O preenchimento do CEP pode ser parcial (> 8 dígitos) ou completo (= 8 dígitos).</label>
                        <br />
                        <label>O CEP Inicial ao ser parcial é completado internamente pelo sistema com 0 a direita.</label>
                        <br />
                        <label>O CEP Final ao ser parcial é completado internamente pelo sistema com 9 a direita.</label>
                        <br />
                        <label>Estrutura do CEP: Link para explicação  <a href="http://www.correios.com.br/para-voce/precisa-de-ajuda/o-que-e-cep-e-por-que-usa-lo/estrutura-do-cep"> site dos corretios</a></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.UtilizaValorMinimo)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.UtilizaValorMinimo)
                        @Html.ValidationMessageFor(model => model.UtilizaValorMinimo)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ValorMinimo)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ValorMinimo)
                        @Html.ValidationMessageFor(model => model.ValorMinimo)
                    </div>
                </div>

                @*
                        <div>
                            <div class="adminTitle">
                                Serviços disponíveis para calculo via WebService
                                <br />
                            </div>
                                <div class="adminData">
                                <div style="height: 250px; width: 300px; overflow: auto; border: solid 1px #bbb;">
                                    @foreach (var csd in Model.AvailableCarrierServices)
                                    {
                                        <input type="checkbox" name="CheckedCarrierServices" value="@(csd)" @(Model.CarrierServicesOffered.Contains(csd) ? " checked=\"checked\"" : null) <text> /></text>
                                        <label>@csd</label>
                                        <br />
                                    }
                                </div>
                            </div>
                        </div>
                    <div>
                        <div class="adminTitle">
                            @Html.NopLabelFor(model => model.FreteGratis)
                        </div>
                        <div class="adminData">
                            @Html.NopEditorFor(model => model.FreteGratis)
                            @Html.ValidationMessageFor(model => model.FreteGratis)
                        </div>
                    </div>

                        <div>
                        <div class="adminTitle">
                            @Html.NopLabelFor(model => model.CEPInicial)
                        </div>
                        <div class="adminData">
                            @Html.NopEditorFor(model => model.CEPInicial)
                            @Html.ValidationMessageFor(model => model.CEPInicial)
                        </div>
                    </div>
                    <trdiv
                        <div class="adminTitle">
                            @Html.NopLabelFor(model => model.CEPFinal)
                        </div>
                        <div class="adminData">
                            @Html.NopEditorFor(model => model.CEPFinal)
                            @Html.ValidationMessageFor(model => model.CEPFinal)
                        </div>
                    </div>

                    <div>
                        <div class="adminTitle">
                            @Html.NopLabelFor(model => model.ServicoFreteGratis)
                        </div>
                        <div class="adminData">
                            @Html.NopEditorFor(model => model.ServicoFreteGratis)
                            <br />
                            <label>41106 - PAC sem contrato</label><br />
                            <label>40010 - SEDEX sem contrato</label><br />
                            <label>40045 - SEDEX a Cobrar, sem contrato</label><br />
                            <label>40126 - SEDEX a Cobrar, com contrato</label><br />
                            <label>40215 - SEDEX 10, sem contrato</label><br />
                            <label>40290 - SEDEX Hoje, sem contrato</label><br />
                            <label>40096 - SEDEX com contrato</label><br />
                            <label>40436 - SEDEX com contrato (40436)</label><br />
                            <label>40444 - SEDEX com contrato (40444)</label><br />
                            <label>81019 - e-SEDEX, com contrato</label><br />
                            <label>41068 - PAC com contrato</label><br />
                            <label>40568 - SEDEX com contrato (40568)</label><br />
                            <label>40606 - SEDEX com contrato (40606)</label><br />
                            <label>81868 - (Grupo 1) e-SEDEX, com contrato</label><br />
                            <label>81833 - (Grupo 2) e-SEDEX, com contrato</label><br />
                            <label>81850 - (Grupo 3) e-SEDEX, com contrato</label><br />
                        </div>
                *@

                <div class="form-group">
                    <div class="col-md-10">
                        <span>Exemplos de preenchimento do CEP e comportamento do sistema</span>
                        <br /><br />

                        <span>Preenchimento: Informado apenas o CEP inicial:</span>
                        <br />

                        <span>Comportamento: Coloca frete grátis a partir do inicio informado até o final da faixa calculada:</span>
                        <br /><br />

                        <span>Ex.1: Inicial 09</span><br />
                        <span>Comportamento: O sistema irá aplicar o desconto de 09000-000 até 09999-999</span>
                        <br /><br />

                        <span>Ex.2: Inicial 0996</span><br />
                        <span>Comportamento: O sistema irá aplicar o desconto de 09960-000 até 09969-999.</span>
                        <br /><br />

                        <span>Ex.3: Inicial 07660</span><br />
                        <span>Comportamento: O sistema irá aplicar o desconto de 07660-000 até 07660-999.</span>
                        <br /><br />

                        <span>Ex.4: Inicial 07660135</span><br />
                        <span>Comportamento: O sistema irá aplicar o desconto apenas no CEP informado (devido a ter oito digitos).</span>
                        <br /><br />

                        <span>Preenchimento: Informado CEP Inicial e Final:</span>
                        <br />
                        <span>Comportamento: Considera o desconto ao que estão no range do CEP.</span>
                        <br /><br />

                        <span>Ex.1: 09 a 01</span><br />
                        <span>Comportamento: O sistema irá aplicar o desconto de 09000-000 até 01999-999.</span>
                        <br /><br />

                        <span>Ex.2: 09860 a 09990</span><br />
                        <span>Comportamento: O sistema irá aplicar o desconto de 09860-000 até 09990-999.</span>
                        <br /><br />

                        <span>Ex.3: 40000654 a 40500890</span><br />
                        <span>Comportamento: O sistema irá aplicar o desconto de 40000-654 até 40500-890.</span>
                        <br /><br />

                        <div class="alert alert-warning" role="alert">
                            <b>Quer ajudar a comunidade nopCommerce do Brasil ?</b>
                            <br />
                            Dúvidas, problemas ou sugestões, acesse <a href="https://github.com/nopCommerce-Brasil" target="_blank"> www.github.com/nopCommerce-Brasil </a>
                            <br />
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <br />
                    <br />
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn btn-primary btn-lg" value="@T("Admin.Common.Save")" />
                    </div>
                </div>

            </div>
        </div>
    </div>
}
